<ion-header [translucent]="true">
  <ion-navbar>
    <ion-title>
      <h1>{{title}} </h1>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content [fullscreen]="true">
  <h2> Welcome to Grocery App! </h2>
  <p> We will be filling items into this Grocery App!</p>

  <ion-list>
    <!-- Sliding item with text options on both sides -->
    <ion-item-sliding *ngFor="let item of items">
      <ion-item-options side="start">
        <ion-item-option (click)="favorite(item)">Favorite</ion-item-option>
        <ion-item-option color="danger" (click)="removeItem(item)">Delete</ion-item-option>
      </ion-item-options>
  
      <ion-item  padding>
        <ion-label> {{item.name}}</ion-label>
        <h3> {{item.quantity}}</h3>
        
      </ion-item>
  
      <ion-item-options side="end">
        <ion-item-option color="success" (click)="unread(item)">Add Cart </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
    
  
  <ion-header collapse="condense">
    <ion-toolbar>
      
    </ion-toolbar>
  </ion-header>

  
</ion-content>
